@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css?family=Gotu&display=swap');

* {
    box-sizing: border-box;
	/* font-family: 'Raleway', 'sans-serif'; */
	font-family: 'Gotu', sans-serif;
    margin: 0;
    padding: 0;
}

/* :root {
	--primary: rgb(140, 158, 170);
	--secondary: rgb(119, 138, 151);
	--light-bg: rgb(245, 242, 242);
	--backlight: rgba(208, 206, 207, 0.7);
	--success: #4b724b;
	--error: #965755;
} */

:root {
	--primary: rgb(181, 134, 131);
	--secondary: rgba(213, 176, 174, 0.9);
	--light-bg: rgb(245, 242, 242);
	--font-reg: rgb(46, 33, 33);
	--backlight: rgba(208, 206, 207, 0.7);
	--success: #4b724b;
	--error: #965755;
}

body {
	font-size: 1rem;
	background: url('../images/color.jpg') no-repeat;
	background-size: cover;
	background-attachment: fixed;
	margin: 30px;
}

.layer {
	background-color: rgba(249, 249, 245, 0.47);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* main chat */

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

h1 {
	margin-left: 10px;
}

p {
	color: var(--font-reg);
}

.send-btn {
	cursor: pointer;
	padding: 5px 15px;
	margin-right: 6px;
	background: var(--light-bg);
	color: var(--primary);
	border: 0;
	font-size: 17px;
	border-radius: 4px;
	height: 46px;
	border: 1px solid var(--primary);
}

.btn {
	cursor: pointer;
	border-radius: 4px;
	padding: 5px 15px;
	margin-right: 10px;
	background: var(--light-bg);
	color: var(--primary);
	border: 0;
	font-size: 17px;
}

.btn:hover {
	font-weight: bold;
	color: var(--light-bg);
	border: 1px solid var(--light-bg);
	background: rgba(181, 134, 131, 0.75);
	transition-timing-function: ease-in;
	transition: 0.6s;
}

.send-btn:hover {
	font-weight: bold;
	color: var(--light-bg);
	border: 1px solid var(--light-bg);
	background: rgba(181, 134, 131, 0.75);
	transition-timing-function: ease-in;
	transition: 0.6s;
}

.chat-container {
	max-width: 1100px;
	width: 80%;
	margin: 30px auto;
	overflow: hidden;
	box-shadow: 3px 3px 3px rgba(101, 79, 77, 0.75);
	background: var(--backlight);
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
}

.chat-header {
	background: var(--primary);
	color: var(--light-bg);
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	padding: 15px;
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.main-chat {
	display: grid;
	height: 500px;
	grid-template-columns: 1fr 3fr;
}

.sidebar {
	background: var(--secondary);
	color: var(--light-bg);
	padding: 20px 20px 60px;
	overflow-y: scroll;
}

.sidebar h2 {
	font-size: 18px;
	padding: 10px;
	margin-bottom: 20px;
}

.sidebar h3 {
	font-size: 22px;
	margin-bottom: 15px;
	border-bottom: 1px solid var(--light-bg);
	border-radius: 4px;
	padding: 2px;
	padding-left: 4px;
}

.sidebar li {
	font-size: 18px;
	margin-left: 8px;
}

.sidebar ul li {
	padding: 10px 0;
}

.msg-list {
	padding: 20px;
	/* max-height: 500px; */
	overflow-y: scroll;
}

.msg-list .message {
	padding: 10px;
	margin-bottom: 15px;
	background-color: var(--light-bg);
	border-radius: 5px;
	word-wrap: break-word;
	overflow: scroll;
	border-radius: 14px;
}

.msg-list .message .meta {
	font-size: 15px;
	font-weight: bold;
	color: var(--primary);
	opacity: 0.8;
	margin-bottom: 7px;
}

.msg-list .message .meta span {
	color: rgb(85, 84, 84);
}

.container-form {
	height: 130px;
	padding: 20px 30px;
	background-color: var(--primary);
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.container-form form {
	margin-top: 16px;
	display: flex;
	flex-direction: row;
	justify-content: right;
	justify-items: center;
}

.container-form input {
	font-size: 16px;
	margin-right: 10px;
	margin-left: 10px;
	padding: 5px;
	height: 46px;
	width: 600px;
	flex: 1;
	border-radius: 4px;
	background: var(--light-bg);
}

/* landing page/join chat */

.join-container {
	max-width: 500px;
	height: 400px;
	margin: 180px auto;
	color: var(--backlight);
}

.join-header h1 {
	margin-top: 10px;
	color: var(--light-bg);
}

.join-btn {
	cursor: pointer;
	border-radius: 5px;
	margin-left: 90px;
	padding: 5px 15px;
	background: var(--light-bg);
	color: var(--primary);
	border: 0;
	font-size: 19px;	
	margin-top: 40px;
	width: 120px;
	height: 36px;
}

.join-header {
	text-align: center;
	padding: 20px;
	background: var(--primary);
	border-top-left-radius: 3px;
	border-top-right-radius: 55px;
	height: 100px;
}

.join-main {
	background: rgba(181, 134, 131, 0.75);
	border: 1px solid var(--primary);
	border-bottom-left-radius: 55px;
	border-bottom-right-radius: 3px;
}

.join-main p {
	margin-bottom: 20px;
}

.join-main .form-join {
	margin: 40px 100px;
	align-items: center;
}

.join-main label {
	display: block;
	margin-bottom: 5px;
	color: var(--light-bg);
}

.join-main input {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	width: 300px;
	background-color: var(--light-bg);
}

.join-main input:hover {
	box-shadow: 1px 1px 4px 1px var(--light-bg);
}

.join-main select {
	font-size: 16px;
	padding: 5px;
	margin-bottom: 20px;
	background: var(--light-bg);
	border: 0;
	font-size: 16px;
	padding: 5px;
	height: 40px;
	width: 300px;
}

.join-main select:hover {
	box-shadow: 1px 1px 5px 1px var(--light-bg);
	border: 0;
}

.join-footer {
	text-align: center;
	width: 100%;
	background: var(--primary);
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 55px;
	height: 100px;
	border: none;
}

.join-footer h1 {
	font-size: 1.7rem;
	color: var(--light-bg);
}

.join-footer h1:hover {
	-webkit-animation: swing 1s ease;
	animation: swing 1s ease;
	-webkit-animation-iteration-count: 1;
	animation-iteration-count: 1;
}

/* button style keyframes */

@-webkit-keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
       transform: translateX(-5px);
    } 
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}


/* media queries */

@media (max-width: 699px) {

	.chat-header {
		height: 70px;
	}

	.chat-container {
		width: 94%;
		margin: 30px auto;
		box-shadow: 3px 3px 3px #444;
		border-bottom-left-radius: 4px;
		border-bottom-right-radius: 4px;
		background: var(--backlight);
	}

	.msg-list {
		padding: 6px;
	}

	.msg-list .message {
		padding: 4px;
		margin-bottom: 10px;
		word-wrap: break-word;
		overflow: scroll;
		border-radius: 14px;
		font-size: 0.8rem;
	}

	.msg-list .message .meta {
		font-size: 0.6rem;
	}

	.main-chat {
		width: 100%;
		height: 310px;
		display: block;
		overflow: scroll;
	}
	
	.sidebar {
		display: none;
	}

	.btn {
		font-size: 14px;
		padding: 4px;
		margin-right: -10px;
	}

	.container-form {
		background-color: var(--primary);
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;
		height: 100px;
		padding: 0;
		margin: 0;
	}
	
	.send-btn {
		font-size: 12px;
		margin: 2px;
		width: 100%;
		height: 36px;
		border-radius: 4px;
		flex: 1;
	}

	.container-form form {
		margin: 0;
		padding: 0 4px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	
	.container-form input {
		border: none;
		height: 38px;
		width: 100%;
		margin: 0;
		margin-bottom: 5px;
		margin-top: 10px;
		font-size: 12px;
		padding: 5px;
		flex: 1;
		border-radius: 4px;
		background: var(--light-bg);
	}

	.join-container {
		max-width: 500px;
		margin: 30px 10px;
		color: var(--backlight);
	}

	.join-main select {
		font-size: 16px;
		padding: 5px;
		height: 40px;
		width: 100%;
		background: var(--light-bg);
	}
	.join-main input {
		font-size: 16px;
		padding: 5px;
		height: 40px;
		width: 100%;
		background: var(--light-bg);
	}

	.join-main .form-join {
		margin: 40px 40px;
	}
}