@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Raleway', 'sans-serif';
    margin: 0;
    padding: 0;
}

:root {
	--desert-rose: rgb(140, 158, 170);
	--dark-blue: rgb(119, 138, 151);
	--light-bg: #eeebe5;
	--backlight: rgb(245, 242, 242);
	--success: #4b724b;
	--error: #965755;
}

body {
	font-size: 1rem;
	background: url('../images/color3.jpg') no-repeat;
	background-size: cover;
	background-attachment: fixed;
    margin: 30px;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

.btn {
	cursor: pointer;
	padding: 5px 15px;
	background: var(--light-bg);
	color: var(--desert-rose);
	border: 0;
	font-size: 17px;
}

.chat-container {
	max-width: 1100px;
	background: var(--backlight);
	margin: 30px auto;
	overflow: hidden;
	box-shadow: 3px 3px 3px #444;
}

.chat-header {
	background: var(--desert-rose);
	color: var(--backlight);
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding: 15px;
	height: 80px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.chat-main {
	display: grid;
	height: 300px;
	grid-template-columns: 1fr 3fr;
}

.chat-sidebar {
	background: var(--dark-blue);
	color: var(--backlight);
	padding: 20px 20px 60px;
	overflow-y: scroll;
}

.chat-sidebar h2 {
	font-size: 18px;
	background: rgba(0, 0, 0, 0.1);
	padding: 10px;
	margin-bottom: 20px;
}

.chat-sidebar h3 {
	margin-bottom: 15px;
}

.chat-sidebar ul li {
	padding: 10px 0;
}

.chatmessages {
	padding: 30px;
	max-height: 500px;
	overflow-y: scroll;
}

.chatmessages .message {
	padding: 10px;
	margin-bottom: 15px;
	background-color: var(--light-bg);
	border-radius: 5px;
}

.chatmessages .message .meta {
	font-size: 15px;
	font-weight: bold;
	color: var(--dark-blue);
	opacity: 0.7;
	margin-bottom: 7px;
}

.chatmessages .message .meta span {
	color: rgb(85, 84, 84);
}

.chatform-container {
	padding: 20px 30px;
	background-color: var(--desert-rose);
}

.chatform-container form {
	display: flex;
}

.chatform-container input[type='text'] {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	flex: 1;
}


.join-container {
	max-width: 500px;
	height: 400px;
	margin: 80px auto;
	color: var(--backlight);
}

.join-header {
	text-align: center;
	padding: 20px;
	background: var(--desert-rose);
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.join-main {
	padding: 30px 50px;
	height: 310px;
	background: var(--dark-blue);
}

.join-main p {
	margin-bottom: 20px;
}

.join-main .form-control {
	margin-bottom: 20px;
}

.join-main label {
	display: block;
	margin-bottom: 5px;
}

.join-main input[type='text'] {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	width: 100%;
	background-color: var(--backlight);
}

.join-main select {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	width: 100%;
}

.join-main .btn {
	margin-top: 20px;
	width: 100%;
}

@media (max-width: 700px) {
	.chat-main {
		display: block;
	}

	.chat-sidebar {
		display: none;
	}
}